@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
body{
  font-family: "Bungee", sans-serif;
  background: url('../src/assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
}